<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Work+Sans:wght@300;400;600&display=swap"
        rel="stylesheet">
    <title>About</title>
</head>
<body id="about-page">
    <div class="about-info about-div">
        <h1>The Gorillaz</h1>

    <p class="p-and-span">
        Gorillaz are an English virtual band formed in 1998 by musician Damon Albarn and artist Jamie Hewlett, from London.
        The
        band primarily consists of four fictional members: 2-D (vocals, keyboards), Murdoc Niccals (bass guitar), Noodle
        (guitar, keyboards, vocals), and Russel Hobbs (drums). Their universe is presented in music videos, interviews,
        comic
        strips and short cartoons. Gorillaz' music has featured collaborations with a wide range of featured artists, with
        Albarn as the only permanent musical contributor.
    </p>
    <span class="p-and-span"><a href="https://en.wikipedia.org/wiki/Gorillaz">Further Read</a></span>
    </div>
    <div class="about-page buttons">
        <button> <a href="http://localhost:3004/music">Music</a></button>
        <button> <a href="http://localhost:3004/home">Home</a></button>
    </div>

    <div class="about-div">
        <!-- <img src="images/gorilla-about-2.jpeg" alt="Gorillaz" id="about-img"> -->
    </div>
    
</body>
</html>
