<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Work+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Music</title>
  </head>
  <body>
    <div>
        <div id="music-info">
           <h1>Music</h1>
      <p>
        Did You Know: The band consists of four animated members: 2-D (lead
        vocals, keyboards), Murdoc Niccals (bass guitar and vocals), Noodle
        (guitar, keyboards, and vocals) and Russel Hobbs (drums and percussion).
      </p> 

    <span>Have a listen to the top five hits from the Gorillaz!</span>

        </div>
      
      <section id="top-five">
        <div id="feelgood-inc">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/HyHNuVaZJ-k"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

        <div id="clint-eastwood">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/1V_xRb0x9aw"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

        <div id="melancholy-hill">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/04mfKJWDSzI"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

        <div id="dirty-harry">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/cLnkQAeMbIM"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

        <div id="dare">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/uAOR6ib95kQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </section>

    <div class="music-page buttons">
        <button> <a href="http://localhost:3004/about">About</a></button>
        <button> <a href="http://localhost:3004/home">Home</a></button>
    </div>
    </div>
  </body>
</html>
