@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Work+Sans:wght@300;400;600&display=swap');

body{ 
    background-color: black;
    color: rgb(251, 241, 228);   
    font-family: 'Work Sans', sans-serif
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(244, 9, 1);
    font-size: 5em;
}

.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons button {
    padding: 15px 25px;
    margin: 10px;
    color: rgb(244, 9, 1);
    background-color: rgb(0, 0, 0);
    /* border: 2px solid rgb(251, 241, 228); */
    border: none;
    font-family: 'Gloria Hallelujah', cursive;
    width: 226px;
    cursor: pointer;
}

.buttons a {
    text-decoration: none;
    font-size: 2em;
    color: rgb(244, 9, 1);
    cursor: pointer;
}

button:hover {
    border: 2px solid rgb(244, 9, 1);
    border-radius: 20px;
}

#gorillaz-logo {
    width: 50%;
}

#top-five {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#top-five div {
    margin: 20px;
}

#music-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
}

#music-info span {
    font-size: 1.5em;
    margin-bottom: 30px;
    margin-top: 20px;
}

#music-info h1 {
    margin: 10px;
}

.music-page {
    display: flex;
    justify-content: center;
}

#about-page {
    background-image: url("../images/gorilla-about-2.jpeg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: bottom;
    position: relative;
    
    
}
.about-info  p, span {
    width: 40%;
    text-align: left;
    margin-right: 5%;
    float: right;


}

.about-info span a {
    /* text-decoration: none; */
    color: rgb(244, 9, 1);
    float: right;
}
/* .about-div {
    display: flex;
    justify-content: space-evenly;
} */
